<!DOCTYPE html>
<html>
    <head>
        <title>TBlais Productions</title>
        <link rel="icon" href="http://media.pixcove.com/B/9/1/Fire-Passion-Black-Flame-Free-Image-Circle-Free-Il-3265.jpg">
        <!-- this is a stylesheet from bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" ><img src="\images\fireiconfree.jpg" width="40" height="40" class="d-inline-block align-top" alt=""> TBlais Productions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="list" style="color: red">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="addgame" style="color: pink">Add Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: skyblue">PiCloud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fruitstand" style="color: orange">Felicias Fruit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: lightgreen">Salary Report</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">