<% include partials/header.ejs %>

<h1>This is a list of all the games:</h1>

<div class="row">
        <% for(var i = 0; i < gameslist.length; i++) {   %>
        <div class="col-md-4"style="padding-bottom: 20px">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="games/thumbnails/<%= gameslist[i].thumbnailFile %>" style="height: 180px">
                        <div class="card-body">
                        <h5 class="card-title"><%= gameslist[i].title %></h5>
                        <p class="card-text">Game created by <%= gameslist[i].creator %></p>
                        <a href="/game/<%= gameslist[i].id %>" class="btn btn-primary">Play Game</a>
                        </div>
                </div>
        </div>
        <% } %>
</div>



        
<% include partials/footer.ejs %>
